div.instanceLocation
{
	border: 1px solid #808080;
	min-height: 50px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}

div.instance
{
	border: 1px dashed #808080;
	margin-top: 10px;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
}

p.header
{
	text-align: center;
	margin: 2px;
}

p.locationHeader
{
	text-decoration: underline;
}

p.instanceHeader
{
	font-size: 20px;
	font-weight: bold;
	font-variant: small-caps;
}

#locationBoard
{
	min-height: 500px;
}

p.instanceData
{
	margin: 0;
	font-size: 15px; 
}

div.instance:hover
{
	background-color: rgba(188, 207,209, 20)
}

#controlBar
{
	position: relative;
	top: 90%;
	border-top: 1px solid #808080;
}

.ui-progressbar
{
	position: relative;
}
.progressbar-value-label
{
	position: absolute;
	width: 100%;
	font-size: 12px;
	text-align: center;
}

/*
#configTable
{
	text-align: center;
	position: absolute;
	left: 20%;
}
*/